.center_block_login {
    border-radius: 13px;
    position:absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 340px;
    background-color:white;
}
.center_top{
    height: 50px;
    width: auto;
    background-color:#204969;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.center_border{
    width: 350px;
    min-width: 350px;
    min-height: 280px;
    background:white;
    display:inline-block;
    float:left;
    border-width:thin;
    border-style:solid;
    border-color:#204969;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.form_block{
    width: 80%;
    margin: auto;
}
.login_form_field{
    background-color: #F2F2F2;
    width: 100%;
    height: 45px;
    border-bottom: 0;
    border-style: solid;
    border-color: #204969;
    font-size: 20px;
    text-align: center;
}
.login_last_form_field{
    background-color: #F2F2F2;
    width: 100%;
    height: 45px;
    border-style: solid;
    border-color: #204969;
    font-size: 20px;
    text-align: center;
}
.login_last_form_field:hover {
    border: 2px solid #204969;
}
.login_submit_button{
    margin-top: 8px;
    width: 100%;
    height: 45px;
    background-color: #204969;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}