.home_info_top_text{
    margin-top: 15px;
    font-weight : bold
}
.home_info_mid_text{
    color : #5b6987
}
.home_info_link{
    font-family : 'Sailec-Medium','Helvetica','sans-serif';
    font-style : normal;
    color : #204969;
    font-size: 20px;
    margin-top: -2px;
    cursor : alias
}
.info_bar_div{
    width : 280px;
    height : 100px;
    position : absolute;
    text-align : left;
    margin-left : 15px;
}